@charset "UTF-8";
@font-face { font-family: 'Fira Sans Medium'; src: url("./../fonts/FiraSans-Medium.ttf"); }

@font-face { font-family: 'Fira Sans Regular'; src: url("./../fonts/FiraSans-Regular.ttf"); }

@font-face { font-family: 'Fira Sans Book'; src: url("./../fonts/Firasansbook.ttf"); }

.fade-enter-active, .fade-leave-active, .fade-nav-enter-active, .fade-nav-leave-active { -webkit-transition: all .4s ease; transition: all .4s ease; }

.fade-enter, .fade-leave-to { opacity: .3; }

.fade-nav-enter, .fade-nav-leave-to { opacity: 0; }

.move-data-enter-active, .move-data-leave-active { -webkit-transition: all .2s ease; transition: all .2s ease; }

.v-select { position: relative; font-family: inherit; }

.v-select, .v-select * { -webkit-box-sizing: border-box; box-sizing: border-box; }

/* KeyFrames */
@-webkit-keyframes vSelectSpinner { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes vSelectSpinner { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

/* Dropdown Default Transition */
.vs__fade-enter-active, .vs__fade-leave-active { pointer-events: none; -webkit-transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1); transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1); }

.vs__fade-enter, .vs__fade-leave-to { opacity: 0; }

/** Component States */
/* Disabled When the component is disabled, all interaction should be prevented. Here we modify the bg color, and change the cursor displayed on the interactive components. */
.vs--disabled .vs__dropdown-toggle, .vs--disabled .vs__clear, .vs--disabled .vs__search, .vs--disabled .vs__selected, .vs--disabled .vs__open-indicator { cursor: not-allowed; background-color: #f8f8f8; }

/* RTL - Right to Left Support Because we're using a flexbox layout, the `dir="rtl"` HTML attribute does most of the work for us by rearranging the child elements visually. */
.v-select[dir="rtl"] .vs__actions { padding: 0 3px 0 6px; }

.v-select[dir="rtl"] .vs__clear { margin-left: 6px; margin-right: 0; }

.v-select[dir="rtl"] .vs__deselect { margin-left: 0; margin-right: 2px; }

.v-select[dir="rtl"] .vs__dropdown-menu { text-align: right; }

/** Dropdown Toggle The dropdown toggle is the primary wrapper of the component. It has two direct descendants: .vs__selected-options, and .vs__actions. .vs__selected-options holds the .vs__selected's as well as the main search input. .vs__actions holds the clear button and dropdown toggle. */
.vs__dropdown-toggle { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 0 4px 0; background: none; border: 1px solid rgba(60, 60, 60, 0.26); border-radius: 4px; white-space: normal; }

.vs__selected-options { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 100%; flex-basis: 100%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0 2px; position: relative; }

.vs__actions { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 4px 6px 0 3px; }

/* Dropdown Toggle States */
.vs--searchable .vs__dropdown-toggle { cursor: text; }

.vs--unsearchable .vs__dropdown-toggle { cursor: pointer; }

.vs--open .vs__dropdown-toggle { border-bottom-color: transparent; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }

.vs__open-indicator { fill: rgba(60, 60, 60, 0.5); -webkit-transform: scale(1); transform: scale(1); -webkit-transition: -webkit-transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855); transition: -webkit-transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855); transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855); transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855), -webkit-transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855); -webkit-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855); transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855); }

.vs--open .vs__open-indicator { -webkit-transform: rotate(180deg) scale(1); transform: rotate(180deg) scale(1); }

.vs--loading .vs__open-indicator { opacity: 0; }

/* Clear Button */
.vs__clear { fill: rgba(60, 60, 60, 0.5); padding: 0; border: 0; background-color: transparent; cursor: pointer; margin-right: 8px; }

/* Dropdown Menu */
.vs__dropdown-menu { display: block; -webkit-box-sizing: border-box; box-sizing: border-box; position: absolute; top: calc(100% - 1px); left: 0; z-index: 1000; padding: 5px 0; margin: 0; width: 100%; max-height: 350px; min-width: 160px; overflow-y: auto; -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15); border: 1px solid rgba(60, 60, 60, 0.26); border-top-style: none; border-radius: 0 0 4px 4px; text-align: left; list-style: none; background: #fff; }

.vs__no-options { text-align: center; }

/* List Items */
.vs__dropdown-option { line-height: 1.42857143; /* Normalize line height */ display: block; padding: 3px 20px; clear: both; color: #333; /* Overrides most CSS frameworks */ white-space: nowrap; }

.vs__dropdown-option:hover { cursor: pointer; }

.vs__dropdown-option--highlight { background: #5897fb; color: #fff; }

.vs__dropdown-option--disabled { background: inherit; color: rgba(60, 60, 60, 0.5); }

.vs__dropdown-option--disabled:hover { cursor: inherit; }

/* Selected Tags */
.vs__selected { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #f0f0f0; border: 1px solid rgba(60, 60, 60, 0.26); border-radius: 4px; color: #333; line-height: 1.4; margin: 4px 2px 0px 2px; padding: 0 0.25em; z-index: 0; }

.vs__deselect { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin-left: 4px; padding: 0; border: 0; cursor: pointer; background: none; fill: rgba(60, 60, 60, 0.5); text-shadow: 0 1px 0 #fff; }

/* States */
.vs--single .vs__selected { background-color: transparent; border-color: transparent; }

.vs--single.vs--open .vs__selected { position: absolute; opacity: .4; }

.vs--single.vs--searching .vs__selected { display: none; }

/* Search Input */
/** Super weird bug... If this declaration is grouped below, the cancel button will still appear in chrome. If it's up here on it's own, it'll hide it. */
.vs__search::-webkit-search-cancel-button { display: none; }

.vs__search::-webkit-search-decoration, .vs__search::-webkit-search-results-button, .vs__search::-webkit-search-results-decoration, .vs__search::-ms-clear { display: none; }

.vs__search, .vs__search:focus { -webkit-appearance: none; -moz-appearance: none; appearance: none; line-height: 1.4; font-size: 1em; border: 1px solid transparent; border-left: none; outline: none; margin: 4px 0 0 0; padding: 0 7px; background: none; -webkit-box-shadow: none; box-shadow: none; width: 0; max-width: 100%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; z-index: 1; }

.vs__search::-webkit-input-placeholder { color: inherit; }

.vs__search:-ms-input-placeholder { color: inherit; }

.vs__search::-ms-input-placeholder { color: inherit; }

.vs__search::placeholder { color: inherit; }

/** States */
.vs--unsearchable .vs__search { opacity: 1; }

.vs--unsearchable:not(.vs--disabled) .vs__search:hover { cursor: pointer; }

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search { opacity: .2; }

/* Loading Spinner */
.vs__spinner { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; opacity: 0; font-size: 5px; text-indent: -9999em; overflow: hidden; border-top: 0.9em solid rgba(100, 100, 100, 0.1); border-right: 0.9em solid rgba(100, 100, 100, 0.1); border-bottom: 0.9em solid rgba(100, 100, 100, 0.1); border-left: 0.9em solid rgba(60, 60, 60, 0.45); -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-animation: vSelectSpinner 1.1s infinite linear; animation: vSelectSpinner 1.1s infinite linear; -webkit-transition: opacity .1s; transition: opacity .1s; }

.vs__spinner, .vs__spinner:after { border-radius: 50%; width: 5em; height: 5em; }

/* Loading Spinner States */
.vs--loading .vs__spinner { opacity: 1; }

*, *:before, *:after { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html, h1, h2, h3, h4, h5, h6 { font-family: 'Fira Sans Medium'; color: #252934; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { font-weight: inherit; }

body { background-color: #F6F0ED; }

li { list-style-type: none; list-style-position: inside; position: relative; }

li::before { content: '— '; position: relative; }

a { color: inherit; }

.mobile-only, .footer-mobile { display: none; }

.desktop-only { display: block; }

.main-wrapper { display: -ms-grid; display: grid; -ms-grid-columns: 192px auto; grid-template-columns: 192px auto; height: 100vh; overflow: hidden; }

.sidebar, .main-content { padding-top: 58px; padding-bottom: 40px; height: 100vh; }

.sidebar { background-color: #ffffff; padding-left: 80px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; overflow: hidden; }

.sidebar-footer { font-family: 'Fira Sans Regular'; font-size: 14px; color: #9095A7; }

.sidebar-footer span { display: block; }

.main-content:not(.table-content) { padding-left: 12.98%; padding-right: 80px; }

.main-content { outline: 1px solid #F2E9E4; outline-offset: -1px; overflow-y: scroll; overflow-x: hidden; position: relative; }

.hamburger-icon, .close-btn { position: fixed; width: 58px; height: 58px; top: 58px; right: 7.81%; cursor: pointer; }

.hamburger-icon { z-index: 100; }

.nav-panel { position: fixed; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #E34F60; top: 0; right: 0; bottom: 0; min-width: 402px; }

.nav-panel-wrapper { z-index: 2000; position: fixed; top: 0; bottom: 0; right: 0; left: 0; }

.nav-panel-outer { position: fixed; top: 0; bottom: 0; right: 0; left: 0; opacity: 0.1; background-color: #252934; }

.nav-panel-inner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.nav-panel-item { font-family: 'Fira Sans Medium'; font-size: 22px; color: #ffffff; text-decoration: none; }

.nav-panel-item:not(:last-child) { margin-bottom: 23px; }

.page-header { font-family: 'Fira Sans Medium'; font-size: 38px; }

.form-subheader { font-family: 'Fira Sans Medium'; font-size: 22px; }

.form-subheader-cb { margin-bottom: 35px; }

.form-subheader span { display: block; }

.form-group-block:not(:last-of-type) { margin-bottom: 16px; }

.form-group .btn { min-width: 179px; }

.form-group .btn-active { min-width: 211px; }

label { display: block; font-family: 'Fira Sans Regular'; font-size: 14px; margin-bottom: 10px; line-height: 20px; }

input, textarea, .app-wrapper, .v-select { background-color: #ffffff; border: 1px solid #9095A7; border-radius: 4px; padding: 16px; width: 100%; resize: none; font-family: 'Fira Sans Regular'; font-size: 14px; -webkit-transition: all .2s ease; transition: all .2s ease; }

input::-webkit-input-placeholder, input .vs__search::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea .vs__search::-webkit-input-placeholder, .app-wrapper::-webkit-input-placeholder, .app-wrapper .vs__search::-webkit-input-placeholder, .v-select::-webkit-input-placeholder, .v-select .vs__search::-webkit-input-placeholder { color: rgba(37, 41, 52, 0.5); }

input:-ms-input-placeholder, input .vs__search:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea .vs__search:-ms-input-placeholder, .app-wrapper:-ms-input-placeholder, .app-wrapper .vs__search:-ms-input-placeholder, .v-select:-ms-input-placeholder, .v-select .vs__search:-ms-input-placeholder { color: rgba(37, 41, 52, 0.5); }

input::-ms-input-placeholder, input .vs__search::-ms-input-placeholder, textarea::-ms-input-placeholder, textarea .vs__search::-ms-input-placeholder, .app-wrapper::-ms-input-placeholder, .app-wrapper .vs__search::-ms-input-placeholder, .v-select::-ms-input-placeholder, .v-select .vs__search::-ms-input-placeholder { color: rgba(37, 41, 52, 0.5); }

input::placeholder, input .vs__search::placeholder, textarea::placeholder, textarea .vs__search::placeholder, .app-wrapper::placeholder, .app-wrapper .vs__search::placeholder, .v-select::placeholder, .v-select .vs__search::placeholder { color: rgba(37, 41, 52, 0.5); }

input:focus, textarea:focus, .app-wrapper:focus, .v-select:focus { outline: none; }

input:disabled, textarea:disabled, .app-wrapper:disabled, .v-select:disabled { background-color: #F2E9E4; color: #252934; }

input.required, textarea.required, .app-wrapper.required, .v-select.required { position: relative; }

input.passed, input.is-valid, textarea.passed, textarea.is-valid, .app-wrapper.passed, .app-wrapper.is-valid, .v-select.passed, .v-select.is-valid { border: 1px solid green; }

input.failed, input.is-invalid, input.failed, textarea.failed, textarea.is-invalid, textarea.failed, .app-wrapper.failed, .app-wrapper.is-invalid, .app-wrapper.failed, .v-select.failed, .v-select.is-invalid, .v-select.failed { border: 1px solid red; }

.input-required { position: relative; }

.pseudo-mark { position: absolute; right: 16px; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); font-family: 'Fira Sans Regular'; font-size: 14px; }

.v-select { padding: 0; position: relative; }

.vs__dropdown-toggle { position: relative; top: 0; bottom: 0; left: 0; right: 0; padding: 11px; padding-right: 5px; border: none; }

input[type=checkbox] { position: absolute; opacity: 0; z-index: -1; }

.label-checkbox { padding-left: 40px; position: relative; }

.label-checkbox::before { content: ''; position: absolute; background-color: #ffffff; border: 1px solid #9095A7; border-radius: 4px; width: 24px; height: 24px; top: 0; left: 0px; }

.label-checkbox::after { display: none; content: url("../../../public/svg/checkmark.svg"); position: absolute; width: 14.43px; height: 10.5px; top: 2px; left: 5.3px; }

input[type=checkbox]:checked + .label-checkbox::after { display: block; }

.upload-file__wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.upload-file__item { cursor: pointer; width: 150px; height: 150px; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; border-radius: 4px; margin-bottom: 20px; margin-right: 15px; }

.upload-file__del-icon { position: absolute; z-index: 30; width: 20px; height: 20px; top: 3px; right: 3px; }

.upload-file__uploaded, .upload-file .upload_icon__wrapper { position: absolute; top: 0; bottom: 0; width: auto; height: 100%; }

.upload-file__actions { max-width: 50%; padding-right: calc(7.45%/2); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 30px; }

.upload_icon { position: absolute; width: 25px; height: 25px; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.upload_icon__wrapper { cursor: pointer; width: 100%; height: 100%; left: 0; right: 0; }

.bg-white { background: white; }

.btn { cursor: pointer; font-family: 'Fira Sans Medium'; font-size: 16px; color: #ffffff; border-radius: 4px; border: none; padding-top: 16px; padding-bottom: 16px; max-height: 54px; line-height: inherit; }

.btn-active { background-color: #E34F60; }

.btn-light { background-color: #C99DA3; }

.btn-light.active { background-color: #E34F60; }

.btn-light.hide { opacity: 0; z-index: -1; }

.btn-upload { padding-left: 10px; padding-right: 10px; }

.btn:focus { outline: none; }

.btn.save-edit, .btn.go-back { min-width: 166px; }

.btn.cli-base-sub { min-width: 179px; }

.btn.no, .btn.yes { position: relative; }

.btn:disabled { cursor: not-allowed; background-color: #C99DA3; }

.remark { font-family: 'Fira Sans Regular'; font-size: 14px; color: #9095A7; line-height: 20px; -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; max-width: 58.39%; }

.page-link:not(:last-child) { margin-right: 24px; }

table { display: table; width: 100%; table-layout: fixed; border-collapse: collapse; }

thead, tbody { max-width: 694px; }

thead { font-family: 'Fira Sans Regular'; font-size: 14px; line-height: 20px; color: #9095A7; }

th { font-weight: normal; text-align: left; }

th, td { vertical-align: top; }

th.cli-number, td.cli-number { width: 12.98%; font-size: 16px; padding-left: 6.97%; }

th.cli-fio, td.cli-fio { width: 31.97%; }

th.cli-fio div, td.cli-fio div { max-width: 90%; }

th.cli-birth, td.cli-birth { width: 18.51%; }

th.cli-phone, td.cli-phone { width: 16.95%; }

th.cli-date, td.cli-date { width: 9.98%; }

th.cli-quest, td.cli-quest { width: 39.66%; }

th.cli-quest div, td.cli-quest div { max-width: 95%; }

th.cli-answ, td.cli-answ { width: 30.77%; padding-right: 5.77%; }

th.cli-comm, td.cli-comm { width: 16.59%; }

th.cli-comm-full, td.cli-comm-full { width: 47.36%; }

tbody td { font-family: 'Fira Sans Regular'; font-size: 14px; font-size: 16px; }

tbody td.cli-number { font-family: 'Fira Sans Regular'; font-size: 14px; color: #9095A7; font-size: 16px; }

tbody tr:nth-child(2n-1) { background-color: #F2E9E4; }

.auth-form { max-width: 50%; margin-top: 70px; }

.agreement { margin-top: 64px; }

.auth-form .form-subheader, .agreement .form-subheader { margin-bottom: 38px; }

.auth-form .btn, .agreement .btn { margin-top: 32px; min-width: 157px; }

.btn-group .page-link { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-preferred-size: auto; flex-basis: auto; }

.btn-group .btn:not(:last-child) { margin-right: 24px; }

.quiz-welcome, .quiz-finish { margin-top: 124px; }

.quiz-welcome .btn-group, .quiz-finish .btn-group { margin-top: 50px; }

.quiz-welcome .btn, .quiz-finish .btn { min-width: 217px; }

.quiz-welcome .btn.add-cli, .quiz-finish .btn.add-cli { min-width: 243px; }

.quiz-welcome .form-subheader, .quiz-finish .form-subheader { margin-bottom: 19px; }

.quiz-welcome-outer, .quiz-finish-outer { display: -ms-grid; display: grid; -ms-grid-rows: 53px auto; grid-template-rows: 53px auto; height: 100%; }

.quiz-welcome-outer .remark, .quiz-finish-outer .remark { -ms-flex-item-align: end; -ms-grid-row-align: end; align-self: end; }

.quiz-welcome-text, .quiz-finish-text { max-width: 314px; min-height: 130px; }

.quiz-welcome-text p, .quiz-finish-text p { font-family: 'Fira Sans Regular'; font-size: 14px; font-size: 16px; }

.quiz-welcome-text p:not(:last-of-type), .quiz-finish-text p:not(:last-of-type) { margin-bottom: 25px; }

.quiz-finish { margin-bottom: 76px; }

.quiz-finish .btn-group { margin-top: 64px; margin-bottom: 24px; }

.step--1, .step--2 { margin-top: 70px; }

.step--1, .step--2, .client-base { display: -ms-grid; display: grid; -ms-grid-columns: 1fr 64px; grid-template-columns: 1fr 64px; }

.step--1 .remark, .step--2 .remark, .client-base .remark { margin-top: 35px; max-width: 100%; }

.step--1-outer { display: -ms-grid; display: grid; -ms-grid-rows: 53px auto; grid-template-rows: 53px auto; height: 100%; }

.step--1 .form-grop-blocks { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr); grid-column-gap: 7.45%; margin-bottom: 64px; }

.step--1 .form-group-block.agreement { margin-top: 12px; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-column: 1/3; max-width: 300px; font-family: 'Fira Sans Regular'; font-size: 14px; color: #9095A7; }

.step--1 .form-group-block.agreement span { text-decoration: underline; }

.step--3 { margin-top: 89px; }

.step--3 .client-base-table td { padding-top: 43px; }

.step--3 .if-remark { display: block; font-family: 'Fira Sans Regular'; font-size: 16px; color: #9095A7; }

.step--3 .text-comment { min-width: 150.72%; -webkit-transform: translateX(0); transform: translateX(0); -webkit-transition: all 0.2s ease; transition: all 0.2s ease; position: relative; }

.step--3 .text-comment input { min-height: 54px; }

.step--3 .text-comment input[type=text]:disabled { background-color: rgba(255, 255, 255, 0.5); }

.step--3 .text-comment-full { min-width: 122.66%; }

.step--3 .text-comment.slide-in { -webkit-transform: translateX(-62%); transform: translateX(-62%); min-width: 168.9%; }

.step--3 .text-comment.slide-in .close-comm { display: block; }

.step--3 .text-comment .close-comm { width: 18px; height: 18px; position: absolute; right: 16px; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); display: none; }

.btn-group-table { display: -webkit-box; display: -ms-flexbox; display: flex; }

.btn-group-table .btn { -ms-flex-preferred-size: 50%; flex-basis: 50%; }

.btn-group-table .btn:first-child { margin-right: 16px; }

.client-base { margin-top: 63px; }

.client-base-block { margin-bottom: 64px; }

.client-base-ending { margin-bottom: 44px; }

.client-base-ending .remark { margin-top: 35px; }

.client-base .btn-group-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.client-base .btn-flex { -ms-flex-preferred-size: auto; flex-basis: auto; -webkit-box-flex: 1.5; -ms-flex-positive: 1.5; flex-grow: 1.5; }

.client-base-list { display: -ms-grid; display: grid; -ms-grid-columns: 12.98% 77.4% auto; grid-template-columns: 12.98% 77.4% auto; }

.client-base-search { margin: 37px 0 32px; }

.client-base-navigation, .client-base-filtration { margin-top: 64px; }

.client-base-navigation-link, .client-base-filtration-link { -ms-flex-preferred-size: auto; flex-basis: auto; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.client-base-navigation-link .btn, .client-base-filtration-link .btn { width: 100%; }

.client-base-filtration { margin-top: 0; -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2/3; margin-bottom: 32px; }

.client-base-filtration .btn-group { display: -webkit-box; display: -ms-flexbox; display: flex; }

.client-base-pagination, .client-base-navigation { margin-top: 64px; }

.client-base-pagination .btn-group, .client-base-navigation .btn-group { margin-bottom: 35px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.client-base-pagination .btn-group.btn-step--3, .client-base-navigation .btn-group.btn-step--3 { max-width: 65.53%; }

.client-base-pagination .btn, .client-base-navigation .btn { -ms-flex-preferred-size: auto; flex-basis: auto; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }

.client-base-search, .client-base-header, .client-base-pagination, .client-base-navigation, .client-base-sign { -ms-grid-column: 2; -ms-grid-column-span: 1; grid-column: 2/3; }

.client-base-pagination { margin-top: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.client-base-pagination-pages, .client-base-pagination-sort { display: -webkit-box; display: -ms-flexbox; display: flex; }

.client-base-pagination .label { font-family: 'Fira Sans Regular'; font-size: 14px; color: #9095A7; -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; font-size: 16px; }

.client-base-pagination .pages-item, .client-base-pagination .sort-type { font-family: 'Fira Sans Regular'; font-size: 16px; line-height: 42px; text-align: center; border-radius: 4px; cursor: pointer; }

.client-base-pagination .pages-item.current, .client-base-pagination .sort-type, .client-base-pagination .sort-type-optgroup { background-color: #ffffff; border: 1px solid #9095A7; }

.client-base-pagination-pages { min-width: 47.98%; }

.client-base-pagination-pages .label { margin-right: 32px; }

.client-base-pagination-pages .pages { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; width: 100%; }

.client-base-pagination-pages .pages-item { text-decoration: underline; min-width: 42px; }

.client-base-pagination-sort { font-family: 'Fira Sans Regular'; font-size: 16px; }

.client-base-pagination-sort .label { margin-right: 16px; }

.client-base-pagination-sort .sort-type { padding: 0 18px; min-width: 71px; text-align: left; position: relative; }

.client-base-pagination-sort .sort-type::after { position: absolute; content: url("../../../public/svg/arrow-down.svg"); width: 8px; height: 10.67px; top: 0; right: 14px; }

.client-base-pagination-sort .sort-type-optgroup { padding: 0 18px; position: absolute; left: 0; right: 0; -webkit-transition: all .2s ease; transition: all .2s ease; }

.client-base-pagination-sort .sort-type-optgroup.hide { opacity: 0; z-index: -1; top: 0; }

.client-base-pagination-sort .sort-type-optgroup.show { top: 100%; z-index: 1; opacity: 1; }

.client-base-sign { margin-top: 50px; }

.client-base-sign p, .client-base-sign ul, .client-base-sign li { font-family: 'Fira Sans Regular'; font-size: 16px; }

.client-base-sign p, .client-base-sign ul, .client-base-sign li, .client-base-sign textarea, .client-base-sign .app-wrapper { max-width: 82.92%; }

.client-base-sign p { margin-bottom: 30px; }

.client-base-table { -ms-grid-column: 1; -ms-grid-column-span: 3; grid-column: 1/4; }

.client-base-table tr { cursor: pointer; }

.client-base-table th { padding-bottom: 15px; }

.client-base-table td { padding-top: 24px; padding-bottom: 24px; }

.client-base-table.step--3 tr { cursor: unset; }

.client-base-table.step--3 td { padding-top: 43px; }

.client-base-table img { max-width: 150px; max-height: 150px; }

.form-group-section { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr); grid-column-gap: 7.45%; }

.form-group-section-outer { margin-bottom: 64px; }

.form-group-section-outer .form-subheader { margin-bottom: 35px; }

@font-face { font-family: 'Fira Sans Medium'; src: url("./../fonts/FiraSans-Medium.ttf"); }

@font-face { font-family: 'Fira Sans Regular'; src: url("./../fonts/FiraSans-Regular.ttf"); }

@font-face { font-family: 'Fira Sans Book'; src: url("./../fonts/Firasansbook.ttf"); }

@media screen and (max-width: 780px) { .mobile-only { display: block; }
  .desktop-only { display: none; }
  .main-wrapper { display: block; overflow-y: scroll; height: 100%; }
  .mobile-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 100%; min-height: 100vh; }
  .site-logo { width: 52.2px; height: 39.15px; position: relative; top: 19px; left: 15px; }
  .site-logo img { height: 100%; width: 100%; }
  .sidebar, .main-content { height: auto; }
  .sidebar { max-height: 56px; position: fixed; top: 0; left: 0; right: 0; bottom: 56px; padding-top: 0; padding-left: 0; z-index: 1000; overflow: visible; }
  .sidebar-footer { display: none; }
  .main-content { text-align: center; margin-top: 56px; padding-top: 32px; padding-bottom: 60px; -ms-flex-preferred-size: auto; flex-basis: auto; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; }
  .main-content:not(.table-content) { padding-left: 4.69%; padding-right: 4.69%; }
  .hamburger-icon, .close-btn { top: 22.3px; right: 15.7px; z-index: 1001; width: auto; height: auto; text-align: right; }
  .nav-panel { left: 0; min-width: 100%; }
  .nav-panel-outer { display: none; }
  .nav-panel-inner { -webkit-transform: translateY(0); transform: translateY(0); }
  .nav-panel-item { text-align: center; }
  .nav-panel-logo { position: fixed; top: 22.3px; left: 15px; width: 52.2px; height: 39.15px; }
  .client-base-list { display: block; }
  .client-base-list > *:not(.client-base-table) { padding-left: 4.69%; padding-right: 4.69%; }
  .btn, .remark { width: 100%; max-width: 100%; }
  label { text-align: left; }
  .upload-file__wrapper { -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }
  .upload-file__actions { padding: 0; max-width: unset; }
  .upload-file__item { max-width: 48%; }
  .upload-file__item:nth-child(2n) { margin-right: 0; }
  .btn-upload { margin-top: 30px; }
  .page-header { font-family: 'Fira Sans Medium'; font-size: 22px; }
  .quiz-welcome, .quiz-finish { margin-top: 0; }
  .quiz-welcome-outer, .quiz-finish-outer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .quiz-welcome .form-subheader, .quiz-finish .form-subheader { margin-bottom: 33px; }
  .quiz-welcome .btn-group, .quiz-finish .btn-group { margin-top: 64px; }
  .quiz-welcome-text, .quiz-finish-text { max-width: 100%; min-height: auto; }
  .quiz-finish { margin-top: 35px; margin-bottom: 64px; }
  .quiz-finish .form-subheader { margin-bottom: 18px; font-family: 'Fira Sans Medium'; font-size: 16px; }
  .btn-group { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 64px; }
  .btn-group .page-link:not(:last-child) { margin-right: 0; margin-bottom: 16px; }
  .btn-group .btn:not(:last-child) { margin-right: 0; margin-bottom: 16px; }
  .footer-mobile { background-color: #ffffff; display: -webkit-box; display: -ms-flexbox; display: flex; font-family: 'Fira Sans Regular'; font-size: 14px; color: #9095A7; min-height: 72px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-preferred-size: auto; flex-basis: auto; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; }
  .step--1, .step--2, .client-base { display: block; }
  .step--1-outer, .step--2-outer, .client-base-outer { display: block; }
  .step--2 .form-subheader:not(.form-subheader-cb), .client-base .form-subheader:not(.form-subheader-cb) { margin-bottom: 18px; }
  .step--2 .form-subheader, .client-base .form-subheader { font-family: 'Fira Sans Medium'; font-size: 16px; text-align: left; }
  .form-group-section-outer { margin-bottom: 32px; }
  .step--1 .form-grop-blocks, .form-group-section { -ms-grid-columns: 1fr; grid-template-columns: 1fr; grid-column-gap: 0; }
  .step--1, .step--3, .client-base-block { margin-top: 35px; }
  .step--2 { margin-top: 38px; }
  .step--2 .btn-group { margin-top: 64px; }
  .step--3 .text-comment { min-width: 100%; }
  .form-group-block { -ms-grid-column: 1; -ms-grid-column-span: 1; grid-column: 1/2; }
  table { display: none; }
  .client-base-search { margin: 35px 0 32px; }
  .client-base-table-item { text-align: left; padding: 34px 4.69%; position: relative; }
  .client-base-table-item:nth-child(2n-1) { background-color: #F2E9E4; }
  .client-base-table-num { position: absolute; top: 34px; right: 4.69%; font-family: 'Fira Sans Regular'; font-size: 14px; line-height: 20px; color: #9095A7; color: #252934; }
  .client-base-table-label { font-family: 'Fira Sans Regular'; font-size: 14px; line-height: 20px; color: #9095A7; margin-bottom: 10px; }
  .client-base-table-content, .client-base-table-quest { font-family: 'Fira Sans Regular'; font-size: 16px; }
  .client-base-table-content { max-width: 76.25%; }
  .client-base-table-el:not(:last-child) { margin-bottom: 24px; }
  .client-base-table-el.btns { margin-bottom: 16px; }
  .client-base-table-answer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .client-base-table-answer .btn { max-width: 46.74%; }
  .client-base-pagination { display: none; }
  .client-base-sign { margin-top: 30px; }
  .client-base-sign p, .client-base-sign ul, .client-base-sign li, .client-base-sign textarea { max-width: 100%; text-align: left; }
  .agreement .form-subheader { text-align: left; font-family: 'Fira Sans Medium'; font-size: 16px; margin-bottom: 34px; }
  .client-base-navigation .btn-group.btn-step--3 { max-width: 100%; margin-bottom: 64px; }
  .form-subheader span { display: inline; }
  .auth-form { max-width: 100%; margin-top: 33px; }
  .auth-form .form-subheader { margin-bottom: 18px; } }
